*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
:root{
   --pink: #E42F6E;
    --black:#0F0E17;
    --blue:#1460A8;
}
body{
    background-color: white;
}

 h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -3rem;
    font-size: 35px;
    color: var(--pink);
}
section {
    margin: 2rem;
    margin-left: 8px;
    font-size: 20px;
}

.container{
    width: 60%;
    margin: auto;
    margin-top: 4rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2, p, a {
    line-height: 1.5;
} 

h2 {
    margin-top: 5px;
}
.cards {
    background-color: var(--black);
    color:white;
    margin-bottom: 40px;
    width: calc((100% - 20px) / 3);
    overflow: hidden;
    height: 100px;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 1.2);
    transition: all 400ms ease;
}
.cards:hover {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 1.6);
}
.cards:nth-child(2), .cards:nth-child(5){
    margin-left: 
    
}
.img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    float: left;  
}
