*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   --pink: #E42F6E;
    --black:#0F0E17;
    --blue:#1460A8;
}
body{
    background-color: white;
}

 h1 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: -3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: var(--pink);
}
section {
    margin: 2rem;
    font-size: 20px;
}

.container{
    width: 50%;
    margin: auto;
    margin-top: 4rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards {
    background-color: var(--black);
    color:white;
    margin-bottom: 40px;
    width: calc((100% - 20px) / 3);

    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2em 0;

}
